In [1]:
from pymongo import MongoClient
from pprint import pprint
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import NMF, LatentDirichletAllocation

In [36]:
import re
from nltk.stem.porter import PorterStemmer

<h3>MongoDB Connection</h3>

In [2]:
def getDBConnection():
    client = MongoClient("localhost:27017")
    db=client.articles
    return db

In [3]:
db=getDBConnection()
articles=db.Articles
row=articles.find_one()

<h3>Okay Just Print First Record<h3>

In [4]:
pprint(row)

{'_id': ObjectId('5c2a2e6b986d090428970616'),
 'author': 'newsfeedback@fool.com (Sean Williams)',
 'content': 'The marijuana industry has had an absolutely game-changing year '
            'in 2018. Canada became the first industrialized country in the '
            'world to green-light recreational marijuana, and a handful of '
            'U.S. states legalized cannabis in some capacity. In other words, '
            'the pâ€¦ [+8176 chars]',
 'description': 'These pot stocks are likely to create all the buzz in the new '
                'year.',
 'publishedAt': datetime.datetime(2018, 12, 31, 13, 21),
 'source_id': 'the-motely-fool',
 'summarization': 'Although the legal cannabis market is still exceptionally '
                  'young and unproven, here - in no particular order - are 12 '
                  'pot-growing stocks you should be watching in 2019. The '
                  'company currently has 4.3 million square feet of licensed '
                  'production capacity, and anticipates having all 5.6 million '
                  'square feet licensed by the end of 2019. Expect 2019 to be '
                  'the year that Aurora finds a beverage, tobacco, or '
                  "pharmaceutical partner, and don't be surprised if the "
                  "company's acquisition binge continues. What we do know is "
                  'that if management meets its production guidance, Aphria '
                  'will slot in as the third-largest grower by annual yield at '
                  '255,000 kilograms. Tilray has close to 3 million square '
                  'feet in growing capacity that it could develop, which makes '
                  'it a wild card in terms of peak production. The company '
                  'anticipates completing the final of three stages of its '
                  'phase 4 expansion at the Moncton, New Brunswick, facility '
                  'by October 2019. Despite only 342,000 square feet of '
                  'growing space, Supreme Cannabis has visions of generating '
                  '50,000 kilograms of weed per year.',
 'title': '12 Marijuana Growing Stocks You Need to Know for 2019',
 'url': 'https://www.fool.com/investing/2018/12/31/12-marijuana-growing-stocks-you-need-to-know-for-2.aspx',
 'urlToImage': 'https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F505294%2Fcannabis-jars-marijuana-pot-weed-canada-legal-getty.jpg&h=630&w=1200&op=resize'}

In [5]:
articles.find().count()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

106904

<h3>Extract summarisation column from article table</h3>

In [69]:
myresult = articles.find().limit(10000)
dataset=[]
for x in myresult:
    try:
        dataset.append(x["summarization"])
    except Exception as e:
        print(e)

<h3>Dataset Ready</h3>

In [70]:
no_features=5000
no_topics = 3
no_top_words = 50

In [71]:
dataset[0]

"Although the legal cannabis market is still exceptionally young and unproven, here - in no particular order - are 12 pot-growing stocks you should be watching in 2019. The company currently has 4.3 million square feet of licensed production capacity, and anticipates having all 5.6 million square feet licensed by the end of 2019. Expect 2019 to be the year that Aurora finds a beverage, tobacco, or pharmaceutical partner, and don't be surprised if the company's acquisition binge continues. What we do know is that if management meets its production guidance, Aphria will slot in as the third-largest grower by annual yield at 255,000 kilograms. Tilray has close to 3 million square feet in growing capacity that it could develop, which makes it a wild card in terms of peak production. The company anticipates completing the final of three stages of its phase 4 expansion at the Moncton, New Brunswick, facility by October 2019. Despite only 342,000 square feet of growing space, Supreme Cannabis has visions of generating 50,000 kilograms of weed per year."

<h1>Create the Document-Word matrix</h1>

In [100]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.95, min_df=2,stop_words='english',lowercase=True,
                        strip_accents='ascii',analyzer = 'word',token_pattern='[a-zA-Z0-9]{3,}')
tfidf = tfidf_vectorizer.fit_transform(dataset)

In [101]:
feature_names = tfidf_vectorizer.get_feature_names()

In [102]:
feature_names

['000',
 '000kg',
 '001',
 '012',
 '018',
 '025',
 '030',
 '035',
 '036',
 '038',
 '040',
 '042',
 '044',
 '045',
 '048',
 '050',
 '055',
 '059',
 '060',
 '070',
 '072',
 '079',
 '083',
 '095',
 '100',
 '1000',
 '10000',
 '100kg',
 '100ml',
 '101',
 '1011',
 '1015',
 '102',
 '103',
 '104',
 '105',
 '1057',
 '106',
 '107',
 '108',
 '109',
 '1092',
 '10am',
 '10mg',
 '10ml',
 '10pm',
 '10th',
 '110',
 '1100',
 '111',
 '112',
 '1127',
 '113',
 '1130',
 '11357',
 '11361',
 '1137',
 '114',
 '115',
 '115th',
 '116',
 '117',
 '118',
 '119',
 '11am',
 '11pm',
 '11th',
 '120',
 '1200',
 '121',
 '1214',
 '122',
 '1227',
 '123',
 '124',
 '1244',
 '125',
 '1251',
 '1258',
 '126',
 '1263',
 '127',
 '128',
 '1285',
 '1286',
 '129',
 '1294',
 '12pm',
 '12th',
 '130',
 '1302',
 '131',
 '1313',
 '132',
 '133',
 '1331',
 '135',
 '1351',
 '136',
 '137',
 '138',
 '139',
 '1392',
 '13th',
 '140',
 '1400',
 '1409',
 '141',
 '142',
 '1420',
 '14272',
 '143',
 '144',
 '145',
 '1459',
 '146',
 '1460',
 '147',
 '148',
 '149',
 '14th',
 '150',
 '1500',
 '150th',
 '151',
 '1528',
 '153',
 '154',
 '1544',
 '155',
 '1550',
 '1554',
 '156',
 '157',
 '15740',
 '1578',
 '158',
 '159',
 '15th',
 '160',
 '1600',
 '1605',
 '161',
 '162',
 '163',
 '165',
 '166',
 '167',
 '168',
 '169',
 '16th',
 '170',
 '17025',
 '171',
 '172',
 '174',
 '1749',
 '175',
 '176',
 '177',
 '1775',
 '178',
 '1784',
 '1793',
 '17th',
 '180',
 '182',
 '183',
 '185',
 '186',
 '187',
 '188',
 '189',
 '18th',
 '190',
 '1900',
 '1900s',
 '1902',
 '1906',
 '1910s',
 '1917',
 '1919',
 '192',
 '1920s',
 '1923',
 '193',
 '1930',
 '1930s',
 '1933',
 '1934',
 '1936',
 '1937',
 '194',
 '1940',
 '1940s',
 '1943',
 '1944',
 '1946',
 '1948',
 '195',
 '1950s',
 '1957',
 '1960',
 '1960s',
 '1961',
 '1964',
 '1967',
 '1968',
 '1969',
 '197',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '198',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '1bn',
 '1st',
 '200',
 '2000',
 '2000s',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '201',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '202',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '2025',
 '2026',
 '203',
 '2030',
 '2036',
 '205',
 '206',
 '2064',
 '2069',
 '207',
 '208',
 '209',
 '20pm',
 '20s',
 '20th',
 '210',
 '2100',
 '211',
 '212',
 '2121',
 '213',
 '214',
 '215',
 '216',
 '218',
 '219',
 '2197',
 '21st',
 '220',
 '221',
 '2215',
 '222',
 '225',
 '226',
 '227',
 '228',
 '229',
 '22nd',
 '22news',
 '230',
 '2300',
 '231',
 '232',
 '233',
 '234',
 '235',
 '238',
 '23rd',
 '240',
 '2402',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '2477',
 '248',
 '249',
 '24th',
 '250',
 '2500',
 '251',
 '252',
 '255',
 '257',
 '25mg',
 '25th',
 '260',
 '261',
 '262',
 '263',
 '264',
 '2641',
 '265',
 '266',
 '2679',
 '269',
 '26th',
 '270',
 '271',
 '2727',
 '2729',
 '2733',
 '274',
 '275',
 '276',
 '277',
 '279',
 '27th',
 '280',
 '280e',
 '281',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '28th',
 '290',
 '291',
 '2914',
 '292',
 '293',
 '295',
 '296',
 '297',
 '29th',
 '2mg',
 '2nd',
 '2pm',
 '300',
 '3000',
 '301',
 '302',
 '304',
 '305',
 '306',
 '307',
 '309',
 '30am',
 '30g',
 '30m',
 '30pm',
 '30s',
 '30th',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '3157',
 '316',
 '318',
 '31st',
 '320',
 '321',
 '323',
 '325',
 '326',
 '327',
 '328',
 '32nd',
 '330',
 '332',
 '333',
 '335',
 '336',
 '340',
 '3400',
 '341',
 '342',
 '3441',
 '345',
 '349',
 '34th',
 '350',
 '3505',
 '351',
 '3521',
 '353',
 '3530',
 '354',
 '355',
 '356',
 '357',
 '358',
 '360',
 '365',
 '366',
 '367',
 '368',
 '370',
 '3701',
 '371',
 '372',
 '373',
 '375',
 '376',
 '379',
 '380',
 '382',
 '384',
 '386',
 '387',
 '390',
 '392',
 '398',
 '399',
 '39th',
 '3pm',
 '3rd',
 '400',
 '4000',
 '401',
 '403',
 '4035',
 '406',
 '407',
 '408',
 '4089',
 '40s',
 '410',
 '411',
 '413',
 '414',
 '415',
 '416',
 '419',
 '420',
 '421',
 '422',
 '423',
 '425',
 '428',
 '429',
 '430',
 '433',
 '4345',
 '435',
 '436',
 '437',
 '440',
 '441',
 '443',
 '445',
 '449',
 '450',
 '453',
 '455',
 '457',
 '459',
 '460',
 '461',
 '464',
 '470',
 '473',
 '475b',
 '476',
 '477',
 '480',
 '482',
 '484',
 '486',
 '491',
 '493',
 '495',
 '499',
 '49ers',
 '4front',
 '4th',
 '500',
 '5000',
 '502',
 '5032',
 '5052',
 '506',
 '507',
 '509',
 '50k',
 '50m',
 '50s',
 '511',
 '512',
 '513',
 '5131',
 '517',
 '520',
 '521',
 '522',
 '523',
 '524',
 '525',
 '529',
 '530',
 '534',
 '535',
 '537',
 '538',
 '5394',
 '541',
 '542',
 '543',
 '5458',
 '549',
 '550',
 '556',
 '558',
 '560',
 '562',
 '567',
 '570',
 '572',
 '573',
 '574',
 '576',
 '577',
 '579',
 '585',
 '591',
 '593',
 '5940',
 '598',
 '5bn',
 '5pm',
 '5th',
 '600',
 '6000',
 '602',
 '604',
 '6048',
 '606',
 '607',
 '609',
 '60s',
 '611',
 '612',
 '613',
 '617',
 '619',
 '620',
 '621',
 '622',
 '624',
 '625',
 '627',
 '629',
 '630',
 '634',
 '636',
 '637',
 '643',
 '645',
 '650',
 '653',
 '655',
 '656',
 '664',
 '665',
 '667',
 '670',
 '677',
 '678',
 '67m',
 '680',
 '682',
 '686',
 '688',
 '693',
 '699',
 '6pm',
 '6th',
 '700',
 '7000',
 '702',
 '70s',
 '70th',
 '710',
 '711',
 '718',
 '720',
 '722',
 '725',
 '726',
 '728',
 '730',
 '732',
 '735',
 '736',
 '740',
 '742',
 '748',
 '750',
 '755',
 '760',
 '7606',
 '761',
 '764',
 '766',
 '770',
 '773',
 '774',
 '776',
 '778',
 '780',
 '782',
 '783',
 '788',
 '789',
 '791',
 '792',
 '797',
 '799',
 '7acres',
 '7pm',
 '7th',
 '800',
 '8000',
 '800m',
 '802',
 '803',
 '805',
 '806',
 '807',
 '80s',
 '8155',
 '816',
 '819',
 '820',
 '823',
 '826',
 '830',
 '833',
 '834',
 '835',
 '837',
 '839',
 '841',
 '843',
 '845',
 '846',
 '847',
 '849',
 '850',
 '852',
 '854',
 '855',
 '859',
 '861',
 '863',
 '864',
 '865',
 '8676',
 '869',
 '872',
 '873',
 '877',
 '880',
 '885',
 '888',
 '890',
 '897',
 '898',
 '8pm',
 '8th',
 '900',
 '903',
 '907',
 '908',
 '90s',
 '910',
 '911',
 '912',
 '915',
 '917',
 '922',
 '928',
 '929',
 '930',
 '934',
 '939',
 '940',
 '946',
 '947',
 '949',
 '950',
 '954',
 '959',
 '960',
 '965',
 '967',
 '970',
 '975',
 '990',
 '994',
 '996',
 '999',
 '99th',
 '9am',
 '9pm',
 '9th',
 'aaa',
 'aamc',
 'aaron',
 'aarp',
 'aba',
 'abandon',
 'abandoned',
 'abandoning',
 'abate',
 'abatement',
 'abating',
 'abattis',
 'abba',
 'abbotsford',
 'abbott',
 'abbreviated',
 'abbreviation',
 'abbvie',
 'abc',
 'abc15',
 'abc7',
 'abcann',
 'abdominal',
 'abdul',
 'abel',
 'abetted',
 'abetting',
 'abi',
 'abide',
 'abides',
 'abiding',
 'abigail',
 'abilities',
 'ability',
 'abington',
 'abject',
 'ablaze',
 'able',
 'abner',
 'abnormal',
 'abnormalities',
 'aboard',
 'abolish',
 'abolished',
 'abolishment',
 'aboriginal',
 'abortion',
 'abound',
 'abp',
 'abraham',
 'abrami',
 'abrams',
 'abreast',
 'abro',
 'abroad',
 'abrupt',
 'absence',
 'absences',
 'absent',
 'absentee',
 'absolute',
 'absolutely',
 'absorb',
 'absorbed',
 'absorbing',
 'absorption',
 'abstain',
 'abstained',
 'abstaining',
 'abstentions',
 'abstinence',
 'abstract',
 'abstracts',
 'absurd',
 'absurdity',
 'abta',
 'abundance',
 'abundant',
 'abundantly',
 'abuse',
 'abused',
 'abuses',
 'abusing',
 'abusive',
 'aca',
 'academia',
 'academic',
 'academics',
 'academies',
 'academy',
 'acadia',
 'acb',
 'acbff',
 'acc',
 'accelerate',
 'accelerated',
 'accelerates',
 'accelerating',
 'accelerator',
 'accelerators',
 'accept',
 'acceptable',
 'acceptance',
 'accepted',
 'accepting',
 'accepts',
 'access',
 'accessed',
 'accesses',
 'accessibility',
 'accessible',
 'accessing',
 'accessories',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accidently',
 'accidents',
 'acclaimed',
 'accommodate',
 'accommodated',
 'accommodating',
 'accommodation',
 'accommodations',
 'accompanied',
 'accompanies',
 'accompany',
 'accompanying',
 'accompli',
 'accomplish',
 'accomplished',
 'accomplishing',
 'accomplishment',
 'accord',
 'accordance',
 'according',
 'accordingly',
 'account',
 'accountability',
 'accountable',
 'accountant',
 'accountants',
 'accounted',
 'accounting',
 'accounts',
 'accreditation',
 'accredited',
 'accrual',
 'accrue',
 'accrued',
 'accumulate',
 'accumulating',
 'accuracy',
 'accurate',
 'accurately',
 'accusation',
 'accusations',
 'accuse',
 'accused',
 'accusing',
 'accustomed',
 'aceso',
 'aceto',
 'aches',
 'acheson',
 'achievable',
 'achieve',
 'achieved',
 'achievement',
 'achievements',
 'achieves',
 'achieving',
 'aching',
 'acid',
 'acidic',
 'acids',
 'acknowledge',
 'acknowledged',
 'acknowledgement',
 'acknowledges',
 'acknowledging',
 'acknowledgment',
 'acl',
 'aclu',
 'acmd',
 'acmpr',
 'acne',
 'acosta',
 'acoustic',
 'acquire',
 'acquired',
 'acquirer',
 'acquires',
 'acquiring',
 'acquisition',
 'acquisitions',
 'acquitted',
 'acre',
 'acreage',
 'acreageholdings',
 'acreages',
 'acres',
 'acronym',
 'acs',
 'act',
 'acted',
 'acting',
 'action',
 'actionable',
 'actions',
 'activate',
 'activated',
 'activates',
 'activating',
 'activation',
 'active',
 'actively',
 'activism',
 'activist',
 'activists',
 'activities',
 'activity',
 'acton',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'acumen',
 'acupuncture',
 'acupuncturist',
 'acute',
 'ada',
 'adage',
 'adam',
 'adamant',
 'adamantly',
 'adams',
 'adapt',
 'adaptable',
 ...]

In [103]:
def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic %d:" % (topic_idx))
        print(" ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

<h1>Build LDA model with sklearn</h1>

In [104]:
lda =  LatentDirichletAllocation(n_components=no_topics, max_iter=5, learning_method='online', learning_offset=50.,random_state=0).fit(tfidf)

In [106]:
display_topics(lda, feature_names, no_top_words)

Topic 0:
cannabis marijuana medical said state hemp city use new patients states people federal law business legal recreational industry drug california health dispensaries products government cbd legalization canada company year businesses market like research police public dispensary laws county time sales license tax program says department percent pot oregon oil medicinal
Topic 1:
les mydx que hausman quatre vins yazbeck bedard analyzer pour avec oprah est ete enrico qui aerodx spannabis heins handheld une loi vthc jaremowich leur sin este sur embargo fin sensors cynthea flavours surete toujours aerien controle canadienne sujet maintenant creme addison par reneged futura middlebury bouchard hay psoe sparkling
Topic 2:
420 news intel industry marijuana outlet technological impact developments cover world date information stories advances cannabis pertinent constantly rallies evolving reliable abreast inbox signing ensuring delivered globe kept legalization changing directly day daily offer endeavor owners develop carries internationally regarding constant regionally nationally benefits coverage need medicinal source development understand

In [107]:
import pandas as pd
import numpy as np

<h1>Show Dominant topic of each document</h1>

In [108]:
best_lda_model=lda
data_vectorized=tfidf
# Create Document â€” Topic Matrix
lda_output = best_lda_model.transform(data_vectorized)
# column names
topicnames = ["Topic" + str(i) for i in range(best_lda_model.n_components)]
# index names
docnames = ["Doc" + str(i) for i in range(len(dataset))]
# Make the pandas dataframe
df_document_topic = pd.DataFrame(np.round(lda_output, 2), columns=topicnames, index=docnames)
# Get dominant topic for each document
dominant_topic = np.argmax(df_document_topic.values, axis=1)
df_document_topic['dominant_topic'] = dominant_topic

<h3>List first 10 documents their dominent topic is 2</h3>

In [111]:
df_document_topic[df_document_topic["dominant_topic"]==2].head(10)

        Topic0  Topic1  Topic2  dominant_topic
Doc106    0.07    0.05    0.89               2
Doc134    0.06    0.05    0.89               2
Doc191    0.06    0.05    0.89               2
Doc203    0.07    0.05    0.88               2
Doc214    0.06    0.05    0.89               2
Doc366    0.07    0.05    0.88               2
Doc378    0.07    0.05    0.88               2
Doc598    0.07    0.05    0.89               2
Doc608    0.07    0.05    0.89               2
Doc622    0.06    0.05    0.89               2

<h3>List first 10 documents their dominent topic is 1</h3>

In [114]:
df_document_topic[df_document_topic["dominant_topic"]==1].head(10)

         Topic0  Topic1  Topic2  dominant_topic
Doc7619    0.44    0.49    0.06               1
Doc7671    0.18    0.76    0.06               1
Doc7681    0.21    0.73    0.06               1
Doc9931    0.26    0.66    0.08               1

<h3>List first 10 documents their dominent topic is 0</h3>

In [115]:
df_document_topic[df_document_topic["dominant_topic"]==0].head(10)

      Topic0  Topic1  Topic2  dominant_topic
Doc0    0.92    0.04    0.04               0
Doc1    0.94    0.03    0.03               0
Doc2    0.92    0.04    0.04               0
Doc3    0.33    0.33    0.33               0
Doc4    0.93    0.03    0.03               0
Doc5    0.86    0.07    0.07               0
Doc6    0.94    0.03    0.03               0
Doc7    0.93    0.03    0.03               0
Doc8    0.92    0.04    0.04               0
Doc9    0.91    0.05    0.05               0

In [116]:
# Show top n keywords for each topic
def show_topics(vectorizer, lda_model, n_words=10):
    keywords = np.array(vectorizer.get_feature_names())
    topic_keywords = []
    for topic_weights in lda_model.components_:
        top_keyword_locs = (-topic_weights).argsort()[:n_words]
        topic_keywords.append(keywords.take(top_keyword_locs))
    return topic_keywords

<h3>Top 15 words of each topic</h3>

In [117]:
topic_keywords = show_topics(tfidf_vectorizer, lda, 15)
# Topic - Keywords Dataframe
df_topic_keywords = pd.DataFrame(topic_keywords)
df_topic_keywords.columns = ['Word '+str(i) for i in range(df_topic_keywords.shape[1])]
df_topic_keywords.index = ['Topic '+str(i) for i in range(df_topic_keywords.shape[0])]
df_topic_keywords

,Word 0,Word 1,Word 2,Word 3,Word 4,Word 5,Word 6,Word 7,Word 8,Word 9,Word 10,Word 11,Word 12,Word 13,Word 14
Topic 0,cannabis,marijuana,medical,said,state,hemp,city,use,new,patients,states,people,federal,law,business
Topic 1,les,mydx,que,hausman,quatre,vins,yazbeck,bedard,analyzer,pour,avec,oprah,est,ete,enrico
Topic 2,420,news,intel,industry,marijuana,outlet,technological,impact,developments,cover,world,date,information,stories,advances

<h3>Okay lets assign some labels for each topic based on words</h3>

In [118]:
Topics = ["Drug Use","Research","Technological Developments"]
df_topic_keywords["Category"]=Topics
df_topic_keywords

,Word 0,Word 1,Word 2,Word 3,Word 4,Word 5,Word 6,Word 7,Word 8,Word 9,Word 10,Word 11,Word 12,Word 13,Word 14,Category
Topic 0,cannabis,marijuana,medical,said,state,hemp,city,use,new,patients,states,people,federal,law,business,Drug Use
Topic 1,les,mydx,que,hausman,quatre,vins,yazbeck,bedard,analyzer,pour,avec,oprah,est,ete,enrico,Research
Topic 2,420,news,intel,industry,marijuana,outlet,technological,impact,developments,cover,world,date,information,stories,advances,Technological Developments